<%- include('./partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css" />
<%- include('./partials/nav') %>

<main>
  <div id="topSpaceBuffer"></div>

  <div id="welcomescreen">
    <p>
      <b>Welcome to the Spelling Bee Practice Tool backend admin pages.</b> For full admin access  please login
      above. For User login and full app experience please login to the front end.
    </p>
  </div>

  
    <p>Welcome to the Spelling Be Practice Tool Back End Admin Pages</p>

</main>
